.projects__container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  form {
    background-color: #fff;
    max-width: 500px;
    padding: 1rem;

    label {
      display: block;
      margin-bottom: 8px;
    }

    select {
      margin-bottom: 16px;
    }

    button {
      outline: none;
      border: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: inline-block;
      font-weight: 700;
      border-radius: 5px;
      transition: transform 0.3s ease-in;
      text-decoration: none;
      background-color: var(--primaryColor);
      padding: 0.7rem 2rem;
      font-size: 0.9rem;
      color: #fff;
      margin-top: 0.4rem;

      &:hover {
        cursor: pointer;
        box-shadow: var(--mainBoxShadow);
      }
    }
  }

  .projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    a {
      text-decoration: none;
      color: inherit;

      .project__item {
        min-width: 280px;
        display: flex;
        gap: 8px;

        img {
          width: 150px;
          height: 150px;
          border-radius: 5px;
          object-fit: contain;
        }

        .project__content {
          position: relative;

          .project__tags {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;

            .project__tag {
              background-color: rgb(190, 185, 185);
              padding: 2px 4px;
            }
          }

          svg {
            position: absolute;
            bottom: 0;
            right: 0;
            color: tomato;

            &:hover {
              cursor: pointer;
              color: red;
            }
          }
        }
      }
    }
  }
}
