section.home {
  flex: 1;
  align-items: center;
}
section.home .intro__photo {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
section.home .intro__photo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}
section.home .intro__photo .overlay__circle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 90%;
}
section.home .intro__photo .dark__overlay {
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 80%;
  height: 90%;
  background-color: #fff;
  border-radius: 50%;
}
@media screen and (max-width: 1200px) {
  section.home .intro__photo {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 1200px) {
  section.home {
    flex-direction: column;
  }
}

.app__header-circles {
  flex: 0.55;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;
}
.app__header-circles div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.app__header-circles div img {
  width: 60%;
  height: 60%;
}
.app__header-circles div:nth-child(1) {
  width: 100px;
  height: 100px;
}
.app__header-circles div:nth-child(2) {
  margin: 1.75rem;
  width: 150px;
  height: 150px;
}
.app__header-circles div:nth-child(3) {
  width: 70px;
  height: 70px;
}
@media screen and (min-width: 2000px) {
  .app__header-circles div:nth-child(1) {
    width: 400px;
    height: 400px;
  }
  .app__header-circles div:nth-child(2) {
    width: 170px;
    height: 170px;
  }
  .app__header-circles div:nth-child(3) {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 1200px) {
  .app__header-circles {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .app__header-circles div {
    margin: 1rem;
  }
}

.app__intro-badge {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.app__intro-badge .app__badge {
  display: flex;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 15px;
  flex-direction: row;
  width: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0.3rem;
}
.app__intro-badge span {
  font-size: 2.5rem;
}
@media (min-width: 2000px) {
  .app__intro-badge span {
    font-size: 5rem;
  }
}
@media screen and (max-width: 2000px) {
  .app__intro-badge {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.app__header-badge .badge-cmp,
.app__header-badge .tag-cmp {
  padding: 1rem 2rem;
  border: #fff;
  background-color: #fff;
  border-radius: 15px;
  flex-direction: row;
  width: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.app__header-badge .tag-cmp {
  flex-direction: column;
  margin-top: 3rem;
}
.app__header-badge .tag-cmp p {
  width: 100%;
  text-transform: uppercase;
  text-align: right;
}
.app__header-badge span {
  font-size: 2.5rem;
}
@media (min-width: 2000px) {
  .app__header-badge span {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .app__header-badge {
    justify-content: flex-start;
    align-items: flex-start;
  }
}/*# sourceMappingURL=Introduction.css.map */